body {
    background: url("/static/sprites/register_gif.gif") center/cover no-repeat fixed;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.55);
    z-index: -1;
}


.register-box {
    width: 360px;
    padding: 40px;
    background: #111111;           
    border-radius: 6px;
    box-shadow: 0 0 20px rgba(255,122,0,0.35);
    border: 1px solid rgba(255,122,0,0.4);
}

.register-box h2 {
    text-align: center;
    margin-bottom: 25px;
    color: white;
}

.input-group input {
    width: 93%;
    padding: 12px;
    background: #0a0a0a;
    border: 1px solid #222;
    color: white;
    outline: none;
    transition: 0.25s;
}

.input-group input:focus {
    border: 1px solid #ff7a00;
    box-shadow: 0 0 10px #ff7a00;
}

.register-btn {
    width: 100%;
    padding: 13px;
    background: #ff7a00;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.25s;
}

.register-btn:hover {
    background: #ff9a2a;
    box-shadow: 0 0 12px #ff7a00;
}

.register-info {
    text-align: center;
    color: #bdbdbd;
    font-size: 13px;
    margin-top: 12px;
}

.register-wrapper {
    height: calc(100vh - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-msg{
    color: #ff4d4d;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}

.error-text{
    color:#ff7a00;
    text-shadow: 0 0 8px #ff7a00;
}

